In [5]:
import pandas as pd
import re

In [11]:
df = pd.read_csv('population2021.csv')
df.head()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,"1,447,065,329","1,439,323,776","9,706,961 sq_km",149/sq_km,0.34%,18.34%,1
1,IND,India,"1,401,310,563","1,380,004,385","3,287,590 sq_km",424/sq_km,0.97%,17.69%,2
2,USA,United States,"334,058,426","331,002,651","9,372,610 sq_km",36/sq_km,0.58%,4.23%,3
3,IDN,Indonesia,"278,037,263","273,523,615","1,904,569 sq_km",145/sq_km,1.04%,3.51%,4
4,PAK,Pakistan,"227,724,796","220,892,340","881,912 sq_km",255/sq_km,1.95%,2.86%,5

In [14]:
df.dtypes

iso_code             category
country                object
2021_last_updated      object
2020_population        object
area                   object
density_sq_km          object
growth_rate            object
world_%                object
rank                    int64
dtype: object

In [18]:
new_values = []
for item in df['density_sq_km'].values:
    new_values.append(item.replace('/sq_km', ''))

In [20]:
df['density_sq_km'] = new_values

In [21]:
df.head()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,"1,447,065,329","1,439,323,776","9,706,961 sq_km",149,0.34%,18.34%,1
1,IND,India,"1,401,310,563","1,380,004,385","3,287,590 sq_km",424,0.97%,17.69%,2
2,USA,United States,"334,058,426","331,002,651","9,372,610 sq_km",36,0.58%,4.23%,3
3,IDN,Indonesia,"278,037,263","273,523,615","1,904,569 sq_km",145,1.04%,3.51%,4
4,PAK,Pakistan,"227,724,796","220,892,340","881,912 sq_km",255,1.95%,2.86%,5

In [22]:
## Tail

In [23]:
df.tail()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
219,MSR,Montserrat,"4,977","4,992",102 sq_km,49,-0.30%,0.00%,228
220,FLK,Falkland Islands,"3,533","3,480","12,173 sq_km",0,1.52%,0.00%,229
221,NIU,Niue,"1,619","1,626",260 sq_km,6,-0.43%,0.00%,230
222,TKL,Tokelau,"1,373","1,357",12 sq_km,114,1.18%,0.00%,231
223,VAT,Vatican City,800,801,1 sq_km,800,-0.12%,0.00%,232